:root{
  --primary_color: #6060dd;
  --secondary_color: #bac3c7;
}

html,
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #ccccff;
  max-width: 100%;
  height: auto;
  margin: 0;
}
header {
  background-color: var(--primary_color);
  color: #ffffff;
  text-align: center;
  padding: 0.1em;
}
b {
  font-size: 18px;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.left-column {
  flex: 35%;
  background-color: #fff5ef;
  padding: 20px;
}
.right-column {
  flex: 65%;
  background-color: #fff5ef;
  padding: 20px;
}
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
.profile-img{
  width: 100%;
  max-height: 333px;
  object-fit: cover;
}
/* .profile-image {
  background-image: url("/members/duy/images/info.jpg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  padding-top: 0.5em;
} */
.profile-text {
  text-align: left;
  margin-left: 0.3em;
  margin-top: -0.4em;
  color: #ffffff;
}
.profile-image img {
  width: 100%;
  height: 100px;
}
.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  padding-bottom: 2em;
}
.info-pane__name {
  /* margin-top: 20px; */
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px;
}
.info-panel,
.exper-panel,
.edu-panel {
  font-size: 16px;
  color: #666666;
  padding: 0.5em 1.5em;
}
.skills-bar,
.language-bar {
  width: 100%;
  background-color: #e6e6ff;
  border-radius: 1em;
}
.skills,
.language {
  font-size: 12px;
  text-align: center;
  color: white;
}
.html {
  width: 50%;
  background-color: var(--primary_color);
  border-radius: 1em;
}
.css {
  width: 40%;
  background-color: var(--primary_color);
  border-radius: 1em;
}
.js {
  width: 70%;
  background-color: var(--primary_color);
  border-radius: 1em;
}
.php {
  width: 30%;
  background-color: var(--primary_color);
  border-radius: 1em;
}
mark {
  padding: 5px;
  background-color: var(--primary_color);
  color: white;
  border-radius: 0.2em;
}
footer {
  text-align: center;
  text-decoration: none;
  background-color: var(--primary_color);
  color: var(--secondary_color);
  padding: 1em;
}
.social-links {
  color: var(--secondary_color)
}
.social-links :hover {
  color: #ffffff;
  cursor: pointer;
}
a {
  color: var(--secondary_color);
  text-decoration: none;
}
.social-links i{
  margin: 0 10px;
}
.primary-color i{
  color: var(--primary_color);
}
.list-program-language{
  margin: 0 auto;
}